<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img
 src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/alx-courses/aice/assets/Content_page_banner_blue_dots.png"
 alt="ALX Content Header"
 class="full-width-image"
/>
</div>

# Common Table Expressions (CTEs) vs. subqueries

This notebook will compare and contrast Common Table Expressions (CTEs) and subqueries in SQL. We will explore their similarities, differences, use cases, and when to choose one over the other.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

- Understand the differences between CTEs and subqueries.
- Learn how to optimise SQL queries using CTEs.
- Write complex SQL queries using CTEs and subqueries.

## Overview

In this notebook, we will explore Common Table Expressions (CTEs) and subqueries in SQL. These are powerful tools that can help us simplify complex queries, enhance readability, and improve the performance of our SQL operations. 

We will examine these concepts in the context of a real-world problem: *Identifying Sub-Saharan African countries with underdeveloped economies that might struggle to gain access to water.*

We will start by writing SQL queries using subqueries and then delve into the optimisation of these queries using CTEs.

### Connecting to our MySQL database

Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [2]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name.

%sql mysql+pymysql://root:12122001UPi@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

## Exercise

We will be working with the `united_nations.Access_to_Basic_Services` table, which contains information about different countries, their access to basic services, and their estimated GDP.

The tasks will involve writing and optimising SQL queries to identify Sub-Saharan African countries with an estimated GDP below the regional average and less than 60% access to managed drinking water services in 2020.

### Task 1: Calculate the average GDP for each region

Start by calculating the average GDP for each country’s region for 2020 using the `AVG(Est_gdp_in_billions) OVER(PARTITION BY Region)` window function.

In [24]:
%%sql
SELECT * FROM access_to_basic_services WHERE region = "Sub-Saharan Africa";

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

297 rows affected.

+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
|       Region       |   Sub_region   | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area | Pct_unemployment |
+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
| Sub-Saharan Africa | Eastern Africa |   Burundi    |     2015    |                68.33                |              44.67              |         10.727148          |         3.10        |  25680.00 |       None       |
| Sub-Saharan Africa | Eastern Africa |   Burundi    |     2016    |                68.33                |              44.67              |         10.903327          |         2.64        |  25680.00 |       None       |
| Sub-Saharan Africa | Eastern Africa |   Burundi    |     2017    |                69.33                |              44.67              |         11.155593          |         2.71        |  25680.00 |       None       |
| Sub-Saharan Africa | Eastern Africa |   Burundi    |     2018    |                69.33                |              44.33              |         11.493472          |         2.66        |  25680.00 |       None       |
| Sub-Saharan Africa | Eastern Africa |   Burundi    |     2019    |                70.33                |              44.33              |         11.874838          |         2.58        |  25680.00 |       None       |
| Sub-Saharan Africa | Eastern Africa |   Burundi    |     2020    |                70.33                |              44.33              |         12.220227          |         2.65        |  25680.00 |       1.03       |
| Sub-Saharan Africa | Eastern Africa |   Comoros    |     2015    |                81.67                |              37.67              |          0.730216          |         0.97        |  1861.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |   Comoros    |     2016    |                81.67                |              37.67              |          0.746232          |         1.01        |  1861.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |   Comoros    |     2017    |                81.67                |              37.67              |          0.761664          |         1.08        |  1861.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |   Comoros    |     2018    |                81.67                |              37.67              |          0.776313          |         1.19        |  1861.00  |       None       |
+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
Truncated to displaylimit of 10.

In [9]:
%%sql
SELECT 
    country_name, 
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS average_GDP_per_country
FROM access_to_basic_services;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1048 rows affected.

+--------------+-------------------------+
| country_name | average_GDP_per_country |
+--------------+-------------------------+
|  Kazakhstan  |        302.746197       |
|  Kazakhstan  |        302.746197       |
|  Kazakhstan  |        302.746197       |
|  Kazakhstan  |        302.746197       |
|  Kazakhstan  |        302.746197       |
|  Kazakhstan  |        302.746197       |
|  Kyrgyzstan  |        302.746197       |
|  Kyrgyzstan  |        302.746197       |
|  Kyrgyzstan  |        302.746197       |
|  Kyrgyzstan  |        302.746197       |
+--------------+-------------------------+
Truncated to displaylimit of 10.

### Task 2: Filter the data

Next, let’s filter the data to focus only on the Sub-Saharan African countries with underdeveloped economies and also limited access to managed drinking water services in 2020.

In [42]:
%%sql
SELECT 
    country_name, 
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS average_GDP_per_country
FROM access_to_basic_services
WHERE Region = "Sub-Saharan Africa"
AND Est_gdp_in_billions < average_GDP_per_country
AND Time_period = '2020';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1054, "Unknown column 'average_GDP_per_country' in 'where clause'")
[SQL: SELECT
    country_name,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS average_GDP_per_country
FROM access_to_basic_services
WHERE Region = "Sub-Saharan Africa"
AND Est_gdp_in_billions < average_GDP_per_country
AND Time_period = '2020';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

Note that you get an error message:

Unknown column `Avg_gdp_for_region` in `where clause`...

This is because we cannot calculate *and* reference that result in the same query.

### Task 3: Implement the solution using subqueries

We can fix the error by using a subquery to calculate the average regional GDP, and then use those results in the main query.

In [43]:
%%sql
SELECT 
    country_name,
    Est_gdp_in_billions
FROM access_to_basic_services AS ab
WHERE Region = "Sub-Saharan Africa"
AND Est_gdp_in_billions < (
    SELECT 
        AVG(Est_gdp_in_billions)
    FROM access_to_basic_services
    WHERE Region = "Sub-Saharan Africa"
);

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

202 rows affected.

+--------------+---------------------+
| country_name | Est_gdp_in_billions |
+--------------+---------------------+
|   Burundi    |         3.10        |
|   Burundi    |         2.64        |
|   Burundi    |         2.71        |
|   Burundi    |         2.66        |
|   Burundi    |         2.58        |
|   Burundi    |         2.65        |
|   Comoros    |         0.97        |
|   Comoros    |         1.01        |
|   Comoros    |         1.08        |
|   Comoros    |         1.19        |
+--------------+---------------------+
Truncated to displaylimit of 10.

### Task 4: Implement the solution using Common Table Expressions (CTEs)

Now, let's attempt the same problem using Common Table Expressions (CTEs).

In [41]:
%%sql
WITH avg_GDP_per_country AS (
                SELECT 
                    AVG(Est_gdp_in_billions) AS average
                FROM access_to_basic_services
                WHERE Region = "Sub-Saharan Africa"
            )
SELECT 
    Country_name, Est_gdp_in_billions 
FROM 
    Access_to_basic_services 
WHERE 
    Region = "Sub-Saharan Africa" 
    AND 
    Est_gdp_in_billions  < (SELECT average FROM avg_GDP_per_country)
    AND Time_period = '2020';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

30 rows affected.

+--------------+---------------------+
| Country_name | Est_gdp_in_billions |
+--------------+---------------------+
|   Burundi    |         2.65        |
|   Djibouti   |         3.18        |
|  Madagascar  |        13.05        |
|    Malawi    |        12.18        |
|  Mauritius   |        11.40        |
|  Mozambique  |        14.03        |
|    Rwanda    |        10.18        |
|   Somalia    |         6.88        |
|    Zambia    |        18.11        |
|   Zimbabwe   |        21.51        |
+--------------+---------------------+
Truncated to displaylimit of 10.

## Solutions

### Task 1: Calculate the average GDP for each region

In [7]:
%%sql
SELECT 
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM united_nations.Access_to_Basic_Services
WHERE Time_period = 2020;

 * mysql+pymysql://root:***@localhost:3306/united_nations
122 rows affected.

[('Central and Southern Asia', 'Kazakhstan', Decimal('95.00'), Decimal('98.00'), Decimal('171.08'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Kyrgyzstan', Decimal('92.67'), Decimal('97.67'), None, Decimal('338.738182')),
 ('Central and Southern Asia', 'Tajikistan', Decimal('85.00'), Decimal('96.33'), Decimal('8.13'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Turkmenistan', Decimal('100.00'), Decimal('99.33'), None, Decimal('338.738182')),
 ('Central and Southern Asia', 'Uzbekistan', Decimal('98.00'), Decimal('100.00'), Decimal('59.89'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Afghanistan', Decimal('80.33'), Decimal('54.00'), Decimal('20.14'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Bangladesh', Decimal('97.67'), Decimal('54.00'), Decimal('373.90'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Bhutan', Decimal('97.33'), Decimal('76.67'), Decimal('2.33'), Decimal('338.738182')),
 ('Central and Southern Asia', 'India', Decimal('91.00'), Decimal('72.33'), Decimal('2667.69'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Iran (Islamic Republic of)', Decimal('96.67'), Decimal('88.33'), None, Decimal('338.738182')),
 ('Central and Southern Asia', 'Maldives', Decimal('99.67'), Decimal('99.33'), Decimal('3.75'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Nepal', Decimal('90.00'), Decimal('76.67'), Decimal('33.43'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Pakistan', Decimal('90.67'), Decimal('70.00'), Decimal('300.43'), Decimal('338.738182')),
 ('Central and Southern Asia', 'Sri Lanka', Decimal('94.33'), Decimal('93.67'), Decimal('85.35'), Decimal('338.738182')),
 ('Eastern and South-Eastern Asia', 'China', Decimal('93.67'), Decimal('91.67'), Decimal('14687.67'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', "Democratic People's Republic of Korea", Decimal('93.33'), Decimal('83.33'), None, Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Japan', Decimal('99.00'), Decimal('100.00'), Decimal('5040.11'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Mongolia', Decimal('81.00'), Decimal('65.00'), Decimal('13.31'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Republic of Korea', Decimal('100.00'), Decimal('100.00'), None, Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Brunei Darussalam', Decimal('100.00'), None, Decimal('12.01'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Cambodia', Decimal('75.33'), Decimal('74.33'), Decimal('25.87'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Indonesia', Decimal('92.00'), Decimal('86.00'), Decimal('1058.69'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', "Lao People's Democratic Republic", Decimal('86.67'), Decimal('82.00'), None, Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Malaysia', Decimal('95.33'), Decimal('100.00'), Decimal('337.34'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Myanmar', Decimal('85.67'), Decimal('74.67'), Decimal('78.93'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Philippines', Decimal('94.00'), Decimal('82.00'), Decimal('361.75'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Singapore', Decimal('100.00'), Decimal('100.00'), Decimal('345.30'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Thailand', Decimal('100.00'), Decimal('98.67'), Decimal('499.68'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Timor-Leste', Decimal('87.00'), Decimal('60.00'), Decimal('2.16'), Decimal('1871.901667')),
 ('Eastern and South-Eastern Asia', 'Viet Nam', Decimal('97.33'), Decimal('90.00'), None, Decimal('1871.901667')),
 ('Europe and Northern America', 'Bermuda', Decimal('100.00'), Decimal('100.00'), Decimal('6.89'), Decimal('551.796667')),
 ('Europe and Northern America', 'Canada', Decimal('99.00'), Decimal('99.00'), Decimal('1645.42'), Decimal('551.796667')),
 ('Europe and Northern America', 'Greenland', Decimal('100.00'), Decimal('100.00'), Decimal('3.08'), Decimal('551.796667')),
 ('Europe and Northern America', 'Saint Pierre and Miquelon', Decimal('91.00'), Decimal('100.00'), None, Decimal('551.796667')),
 ('Europe and Northern America', 'United States of America', Decimal('100.00'), Decimal('99.67'), None, Decimal('551.796667')),
 ('Latin America and the Caribbean', 'Barbados', Decimal('99.00'), Decimal('98.00'), Decimal('4.67'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'British Virgin Islands', Decimal('100.00'), None, None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Cuba', Decimal('96.33'), Decimal('90.00'), Decimal('107.35'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Dominican Republic', Decimal('95.00'), Decimal('84.33'), Decimal('78.84'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Guadeloupe', Decimal('100.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Haiti', Decimal('65.00'), Decimal('36.00'), Decimal('14.51'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Jamaica', Decimal('90.33'), Decimal('87.00'), Decimal('13.81'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Martinique', Decimal('100.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Montserrat', Decimal('98.00'), Decimal('89.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Puerto Rico', Decimal('100.00'), Decimal('100.00'), Decimal('103.02'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Saint Barthélemy', Decimal('100.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Saint Lucia', Decimal('97.00'), Decimal('82.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Saint Martin (French Part)', Decimal('100.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Trinidad and Tobago', Decimal('99.00'), Decimal('94.00'), Decimal('21.06'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'United States Virgin Islands', Decimal('99.00'), Decimal('99.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Belize', Decimal('98.33'), Decimal('88.67'), Decimal('2.08'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Costa Rica', Decimal('100.00'), Decimal('97.67'), Decimal('62.16'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'El Salvador', Decimal('97.00'), Decimal('79.67'), Decimal('24.56'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Guatemala', Decimal('94.00'), Decimal('67.67'), Decimal('77.63'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Honduras', Decimal('95.33'), Decimal('83.33'), Decimal('23.83'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Mexico', Decimal('99.33'), Decimal('90.67'), Decimal('1090.52'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Nicaragua', Decimal('79.33'), Decimal('71.67'), Decimal('12.59'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Panama', Decimal('92.67'), Decimal('81.00'), Decimal('53.98'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Argentina', Decimal('100.00'), Decimal('99.00'), Decimal('385.54'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Bolivia (Plurinational State of)', Decimal('90.67'), Decimal('61.67'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Brazil', Decimal('98.33'), Decimal('82.33'), Decimal('1448.56'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Chile', Decimal('100.00'), Decimal('100.00'), Decimal('252.73'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Colombia', Decimal('94.67'), Decimal('91.33'), Decimal('270.30'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Ecuador', Decimal('94.00'), Decimal('91.33'), Decimal('99.29'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Falkland Islands (Malvinas)', Decimal('91.00'), Decimal('100.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'French Guiana', Decimal('94.00'), Decimal('92.00'), None, Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Guyana', Decimal('96.67'), Decimal('87.33'), Decimal('5.47'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Paraguay', Decimal('99.67'), Decimal('92.00'), Decimal('35.43'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Peru', Decimal('90.33'), Decimal('74.33'), Decimal('201.71'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Suriname', Decimal('98.00'), Decimal('88.67'), Decimal('2.91'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Uruguay', Decimal('98.00'), Decimal('98.33'), Decimal('53.56'), Decimal('177.844400')),
 ('Latin America and the Caribbean', 'Venezuela (Bolivarian Republic of)', Decimal('94.00'), Decimal('96.00'), None, Decimal('177.844400')),
 ('Northern Africa and Western Asia', 'Algeria', Decimal('93.33'), Decimal('84.33'), Decimal('145.01'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Egypt', Decimal('99.33'), Decimal('97.67'), None, Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Libya', Decimal('100.00'), Decimal('92.00'), Decimal('50.36'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Morocco', Decimal('88.33'), Decimal('84.67'), Decimal('121.35'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Sudan', Decimal('62.33'), Decimal('40.33'), Decimal('27.03'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Tunisia', Decimal('97.00'), Decimal('97.33'), Decimal('42.54'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Armenia', Decimal('100.00'), Decimal('92.33'), Decimal('12.64'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Azerbaijan', Decimal('95.67'), Decimal('96.00'), Decimal('42.69'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Bahrain', Decimal('100.00'), Decimal('100.00'), Decimal('34.72'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Cyprus', Decimal('100.00'), Decimal('99.33'), Decimal('25.01'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Georgia', Decimal('96.67'), Decimal('84.33'), Decimal('15.84'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Iraq', Decimal('97.67'), Decimal('100.00'), Decimal('184.37'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Israel', Decimal('100.00'), Decimal('99.67'), Decimal('413.27'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Jordan', Decimal('98.33'), Decimal('96.33'), Decimal('44.18'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Kuwait', Decimal('100.00'), Decimal('100.00'), Decimal('105.96'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Lebanon', Decimal('93.00'), Decimal('99.00'), Decimal('31.71'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Oman', Decimal('87.67'), Decimal('99.00'), Decimal('75.91'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Qatar', Decimal('100.00'), Decimal('100.00'), Decimal('144.41'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Saudi Arabia', Decimal('100.00'), Decimal('100.00'), Decimal('703.37'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'State of Palestine', Decimal('98.33'), Decimal('98.67'), None, Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Syrian Arab Republic', Decimal('93.67'), Decimal('90.00'), Decimal('11.08'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Türkiye', Decimal('96.67'), Decimal('98.67'), None, Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'United Arab Emirates', Decimal('100.00'), Decimal('99.00'), Decimal('349.47'), Decimal('129.046000')),
 ('Northern Africa and Western Asia', 'Yemen', Decimal('63.00'), Decimal('57.33'), None, Decimal('129.046000')),
 ('Oceania', 'Australia', Decimal('100.00'), Decimal('100.00'), Decimal('1326.90'), Decimal('93.726471')),
 ('Oceania', 'New Zealand', Decimal('100.00'), Decimal('100.00'), Decimal('211.73'), Decimal('93.726471')),
 ('Oceania', 'Fiji', Decimal('93.67'), Decimal('99.00'), Decimal('4.48'), Decimal('93.726471')),
 ('Oceania', 'New Caledonia', Decimal('99.00'), Decimal('100.00'), Decimal('9.44'), Decimal('93.726471')),
 ('Oceania', 'Papua New Guinea', Decimal('56.67'), Decimal('27.67'), Decimal('23.85'), Decimal('93.726471')),
 ('Oceania', 'Solomon Islands', Decimal('72.33'), Decimal('44.67'), Decimal('1.54'), Decimal('93.726471')),
 ('Oceania', 'Vanuatu', Decimal('93.00'), Decimal('55.67'), Decimal('0.90'), Decimal('93.726471')),
 ('Oceania', 'Guam', Decimal('100.00'), None, Decimal('5.89'), Decimal('93.726471')),
 ('Oceania', 'Kiribati', Decimal('77.00'), Decimal('45.33'), Decimal('0.18'), Decimal('93.726471')),
 ('Oceania', 'Marshall Islands', Decimal('90.00'), Decimal('78.00'), Decimal('0.24'), Decimal('93.726471')),
 ('Oceania', 'Nauru', Decimal('100.00'), None, Decimal('0.11'), Decimal('93.726471')),
 ('Oceania', 'Northern Mariana Islands', Decimal('100.00'), Decimal('79.00'), None, Decimal('93.726471')),
 ('Oceania', 'Palau', Decimal('100.00'), Decimal('99.67'), Decimal('0.25'), Decimal('93.726471')),
 ('Oceania', 'American Samoa', Decimal('100.00'), Decimal('54.00'), Decimal('0.72'), Decimal('93.726471')),
 ('Oceania', 'Cook Islands', Decimal('100.00'), Decimal('99.00'), None, Decimal('93.726471')),
 ('Oceania', 'French Polynesia', Decimal('100.00'), Decimal('97.00'), Decimal('5.71'), Decimal('93.726471')),
 ('Oceania', 'Niue', Decimal('97.00'), Decimal('96.00'), None, Decimal('93.726471')),
 ('Oceania', 'Samoa', Decimal('92.00'), Decimal('96.33'), Decimal('0.87'), Decimal('93.726471')),
 ('Oceania', 'Tokelau', Decimal('100.00'), Decimal('97.00'), None, Decimal('93.726471')),
 ('Oceania', 'Tonga', Decimal('99.00'), Decimal('93.33'), Decimal('0.48'), Decimal('93.726471')),
 ('Oceania', 'Tuvalu', Decimal('100.00'), None, Decimal('0.06'), Decimal('93.726471')),
 ('Oceania', 'Wallis and Futuna Islands', Decimal('99.00'), Decimal('93.00'), None, Decimal('93.726471')),
 ('Sub-Saharan Africa', 'Burundi', Decimal('70.33'), Decimal('44.33'), Decimal('2.65'), Decimal('53.540000')),
 ('Sub-Saharan Africa', 'Djibouti', Decimal('69.00'), Decimal('56.00'), Decimal('3.18'), Decimal('53.540000')),
 ('Sub-Saharan Africa', 'Ethiopia', Decimal('58.00'), Decimal('11.67'), Decimal('107.66'), Decimal('53.540000')),
 ('Sub-Saharan Africa', 'Kenya', Decimal('67.00'), Decimal('33.67'), Decimal('100.67'), Decimal('53.540000'))]

### Task 2: Filter the data

In [8]:
%%sql
SELECT 
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM 
    united_nations.Access_to_Basic_Services
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Time_period = 2020 
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
(pymysql.err.OperationalError) (1054, "Unknown column 'Avg_gdp_for_region' in 'where clause'")
[SQL: SELECT
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM
    united_nations.Access_to_Basic_Services
WHERE
    Region = 'Sub-Saharan Africa'
    AND Time_period = 2020
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 3: Implement the solution using subqueries

In [44]:
%%sql
SELECT 
    Country_name,
    Region,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Avg_gdp_for_region
FROM (
    SELECT 
        Region,
        Country_name,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        Est_gdp_in_billions,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
    FROM
        united_nations.Access_to_Basic_Services
    WHERE 
        Time_period = 2020
    ) AS Avg_world_GDP_2020
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Pct_managed_drinking_water_services < 60 
    AND Est_gdp_in_billions < Avg_gdp_for_region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

6 rows affected.

+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
|       Country_name       |       Region       | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_gdp_in_billions | Avg_gdp_for_region |
+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
|        Madagascar        | Sub-Saharan Africa |                56.33                |              13.00              |        13.05        |     39.041316      |
|         Somalia          | Sub-Saharan Africa |                57.33                |              40.00              |         6.88        |     39.041316      |
| Central African Republic | Sub-Saharan Africa |                38.33                |              15.00              |         2.33        |     39.041316      |
|           Chad           | Sub-Saharan Africa |                52.67                |              18.67              |        10.72        |     39.041316      |
|       Burkina Faso       | Sub-Saharan Africa |                53.33                |              25.00              |        17.93        |     39.041316      |
|          Niger           | Sub-Saharan Africa |                57.33                |              24.67              |        13.74        |     39.041316      |
+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+

### Task 4: Implement the solution using Common Table Expressions (CTEs)

In [10]:
%%sql
-- This CTE calculates the average regional GDP for each country, for the year 2020. 
WITH Avg_world_GDP_2020 AS (
    SELECT 
        Region,
        Country_name,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        Est_gdp_in_billions,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
    FROM 
        united_nations.Access_to_Basic_Services
    WHERE 
        Time_period = 2020
)

/* 
This query filters the Avg_world_GDP_2020 CTE for 
countries that have below-average GDP, in the 
Sub-Saharan Africa region, and struggling with water access.
*/

SELECT 
    Country_name
FROM 
    Avg_world_GDP_2020
WHERE 
    Region = 'Sub-Saharan Africa' 
    AND Pct_managed_drinking_water_services < 60 
    AND Est_gdp_in_billions < Avg_gdp_for_region;

 * mysql+pymysql://root:***@localhost:3306/united_nations
0 rows affected.

[]

Note how much easier the CTE is to read compared to the query using a subquery.

## Summary

In our exercises, we have seen how subqueries and Common Table Expressions (CTEs) can be used to break down complex queries into manageable parts. This not only enhances readability but also improves performance by enabling the database to process the query more efficiently.

For instance, when identifying Sub-Saharan African countries with underdeveloped economies struggling to access drinking water services, we first used subqueries to combine conditions and evaluate the GDP criteria before assessing water access. We then applied the concept of Common Table Expressions as another optimised alternative, which allowed us to calculate the regional average GDP separately. This created a reusable block of code that could be referenced in the final query.

By comparing the two implementations, we saw how CTEs could simplify complex queries and eliminate the need for saving intermediary tables and taking up more space in the database or using multiple subqueries.

The use of CTEs and subqueries empowers us to optimise SQL queries effectively, making our data analysis more efficient and organised.

Remember, the choice between subqueries and CTEs often depends on the specific requirements of your task and the complexity of your SQL queries. It's always a good idea to test different implementations and choose the one that best meets your needs.

#

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/refs/heads/master/ALX_banners/ALX_Navy.png"  style="width:100px"  ;/>
</div>